.contact-person {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    display: flex;
    gap: 1rem;
    @include box;

    img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__name {
    font-weight: 600;
  }

  &__position,
  &__phone,
  &__email {
    @include text-small;
    color: $color-blue-light;
    margin: 0 !important;
    display: block;
  }
}
