.person {
  &__image {
    margin-bottom: 0.75rem;
  }

  &__name {
    margin-bottom: 0.25rem;
  }

  &__function,
  &__contact {
    @include text-small;
    color: $color-blue-light;

    a {
      display: block;
    }
  }
}
