.team-overview {
  @include spacing-small-top;
  @include spacing-medium-bottom;

  &__items {
    @include container-large;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    @include small-up {
      gap: 3.5rem 1.5rem;
    }
  }

  &__grid-item {
    @include card-filter-transition;
    width: 100%;

    @include small-up {
      width: calc(50% - 0.75rem);
    }

    @include medium-up {
      width: calc(33.333% - 1rem);
    }

    @include large-up {
      width: calc(25% - 1.125rem);
    }
  }

  &__empty {
    text-align: center;
  }

  &__button {
    @include more-button;

    a {
      @include primary-button;
    }
  }
}
