.team-filter {
  @include filter-component();

  &__container {
    @include container;
  }

  .single-dienstleistung:not(.postid-549) & {
    display: none;
  }

  select {
    @include select();
  }

  &__location {
    .single-standort & {
      display: none;
    }
  }

  &__checkboxes {
    .single-dienstleistung & {
      display: none;
    }
  }
}
