.footer {
  border-top: $border;
  overflow: hidden;
  background-color: $color-blue;
  color: $color-white;

  position: relative;

  &__container {
    @include container-large;
    @include spacing-inner;
    position: relative;
    z-index: 1;
  }

  &__content {
    @include two-column-grid;
  }

  &__bottom {
    @include spacing-top;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
