.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $color-white;
  transition: color 0.3s $transition, background-color 0.3s $transition;
  box-shadow: 0px 0px 0 0.5px $color-grey-dark;

  .home:not(.scrolled) & {
    background-color: transparent;
    box-shadow: none;
  }

  body.scrolled & {
    background-color: $color-white;
    box-shadow: 0px 0px 0 0.5px $color-grey-dark;
  }

  &__container {
    @include container-large;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: $content-offset;
  }

  .logged-in & {
    top: $logged-in-offset;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $color-black;
    }
  }

  &__logo {
    img {
      width: 12rem;
      height: auto;

      @include medium-up {
        width: 15rem;
      }
    }
  }

  &__hamburger {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 2.5rem;
    height: 1.5rem;

    @include medium-up {
      display: none;
    }

    span {
      width: 100%;
      height: 1px;
      background-color: $color-black;
      transform-origin: center;
      position: absolute;
      left: 0;
      @include transition(all);

      .home:not(.scrolled) & {
        background-color: $color-white;
      }

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 50%;
      }

      &:nth-child(4) {
        bottom: 0%;
      }
    }

    &--active {
      & span:nth-child(1) {
        opacity: 0;
      }

      & span:nth-child(2) {
        transform: rotate(45deg);
      }

      & span:nth-child(3) {
        transform: rotate(-45deg);
      }

      & span:nth-child(4) {
        opacity: 0;
      }
    }
  }
}
