.layout {
  @include medium-up {
    display: flex;
    min-height: 100svh;
  }
}

.main-wrapper {
  padding: 7.25rem 1.5rem 1.5rem;

  @include medium-up {
    padding: 2rem;
  }
}

.main-content {
  > *:not(.images-block):not(.wp-block-video):not(.links-block):not(
      .images-link-block
    ):not(.post-slider):not(.referenzen) {
    @include container-small;
  }
}

main {
  @include medium-up {
    width: 65%;
  }
}
