.main-wrapper {
  .main-content {
    privacybee-widget {
      display: block;
    }

    & > p,
    & > ul:not(.filebird-block-filebird-gallery),
    & > ol,
    & > figure,
    & > blockquote,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > privacybee-widget {
      @include container-small;

      &:first-child {
        @include spacing-medium-top;
      }

      &:last-child {
        @include spacing-medium-bottom;
      }
    }

    .filebird-block-filebird-gallery {
      --columns: 2 !important;
      --space: 1rem !important;
      --min-width: 0px;

      margin-top: 4rem !important;
      margin-bottom: 6rem !important;

      @include large-up {
        margin-top: 5rem !important;
        margin-bottom: 10rem !important;
      }

      @include container-large;
      padding: 0 1rem !important;

      @include medium-up {
        padding: 0 3rem !important;
        --columns: 2 !important;
        --space: 10rem !important;
      }
    }
  }
}
