.header {
  &__nav {
    // Shared styles for both mobile and desktop
    .menu {
      > .menu-item {
        &.current-menu-item > .sub-menu,
        &.current-menu-ancestor > .sub-menu,
        &.current-menu-parent > .sub-menu {
          max-height: 100%;
        }

        .current-menu-item {
          > a {
            position: relative;
            color: $color-grey-dark;

            // Dot after the link
            &::after {
              content: '';
              width: 0.35rem;
              height: 0.35rem;
              border-radius: 100%;
              background: $color-grey-dark;
              display: block;
              position: absolute;
              top: 50%;
              right: 0rem;
              transform: translateY(-50%);
            }
          }
        }
      }

      & .current-menu-item,
      .current-page-ancestor {
        > a {
          color: $color-black;
        }
      }
    }

    // Mobile styles
    &--mobile {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: $color-white;
      padding: 2rem 1rem 10rem;
      position: fixed;
      top: $content-offset;
      left: 0;
      width: 100%;
      height: 100dvh;
      visibility: hidden;
      transform: translateY(100%);
      overflow-y: auto;
      transition: all 0.5s $transition;
      z-index: -1;

      @include medium-up {
        display: none;
      }

      .menu {
        a {
          display: block;
        }

        & > .menu-item {
          border-bottom: $border;
          padding: 3rem 0;
          width: 100%;

          &.menu-item-has-children {
            & > a {
              @include subtitle;
              margin-bottom: 1rem;
            }
          }

          &:not(.menu-item-has-children) {
            & > a {
              font-size: 1.6rem;
              line-height: 1.8;
            }
          }
        }

        .sub-menu {
          & > .menu-item {
            a {
              font-size: 1.6rem;
              line-height: 1.8;
            }
          }
        }
      }

      .animated-button {
        margin-top: 2rem;
      }
    }

    &--show {
      visibility: visible;
      transform: translateY(0);
    }

    // Desktop styles
    &--desktop {
      display: none;

      @include medium-up {
        display: flex;
        align-items: center;
        gap: 2rem;
      }

      @include large-up {
        gap: 3.5rem;
      }

      .menu {
        display: flex;
        flex-direction: row;
        gap: 0;

        > .menu-item {
          height: $content-offset;
          cursor: pointer;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: clamp(12px, 1.4vw, 16px);
          padding: 0 1rem;

          @include large-up {
            padding: 0 1.75rem;
            font-size: rem(16px);
          }

          &.is-sibling-before {
            padding-right: 0;
          }

          &.is-sibling-after {
            padding-left: 0;
          }

          &.menu-item-has-children {
            position: relative;

            &:hover {
              padding: 0 2rem;
              @include large-up {
                padding: 0 3.5rem;
              }
            }

            &:last-child {
              &:hover {
                padding: 0 0 0 2rem;
                @include large-up {
                  padding: 0 0 0 3.5rem;
                }
              }
            }

            > a {
              display: flex;
              gap: 0.5rem;
              align-items: center;

              &::after {
                content: '';
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 100%;
                background: $color-black;
                mask-image: url('../assets/icons/plus-thin.svg');
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                transition: all 0.3s $transition;
                display: block;

                .home:not(.scrolled) & {
                  background: $color-white;
                }
              }

              &[aria-expanded='true'] {
                &::after {
                  transform: rotate(45deg);
                }
              }
            }
          }

          &:last-child {
            padding-right: 0;
          }

          > a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 0.3s $transition;
            font-size: inherit;

            .home:not(.scrolled) & {
              color: $color-white;
            }
          }

          .sub-menu {
            z-index: 1000;
            position: absolute;
            top: calc(#{$content-offset});
            left: 50%;
            transform: translateX(-50%) scale3d(0.97, 0.97, 1);
            background: $color-white;
            padding: 2rem 3rem 3rem 3rem;
            width: 42rem;
            max-height: unset;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            box-shadow: inset 0px 0px 0 0.5px $color-grey-dark;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 3rem;
            transition: none;

            &--show {
              visibility: visible;
              opacity: 1;
              transform: translateX(-50%) scale3d(1, 1, 1);
              transition: all 0.5s $transition;
            }

            > .menu-item {
              border-bottom: $border;
              a {
                padding: 1rem 0;

                display: block;
                font-size: 1.2rem;
              }
            }
          }

          &.current-menu-item > .sub-menu,
          &.current-menu-ancestor > .sub-menu,
          &.current-menu-parent > .sub-menu {
            max-height: unset;
          }
        }
      }
    }
  }
}
