.header {
  &__nav {
    &--mobile {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: $color-white;
      padding: 2rem 1rem 10rem;
      position: absolute;
      top: $content-offset;
      left: 0;
      width: 100%;
      height: 100dvh;
      visibility: hidden;
      transform: translateY(100%);
      overflow-y: auto;
      transition: all 0.5s $transition;
      position: fixed;
      z-index: -1;

      @include medium-up {
        display: none;
      }

      .menu {
        a {
          display: block;
        }

        & > .menu-item {
          border-bottom: $border;
          padding: 2rem 0;
          width: 100%;

          &:first-child {
            padding-top: 0;
          }

          &.menu-item-has-children {
            & > a {
              @include subtitle;
              margin-bottom: 0.5rem;
            }
          }
          & > a {
            font-size: 1.6rem;
          }
        }

        .current-menu-item {
          > a {
            opacity: 0.25;
          }
        }

        .sub-menu {
          & > .menu-item {
            a {
              font-size: 1.6rem;
            }
          }
        }
      }

      .animated-button {
        margin-top: 2rem;
      }
    }

    &--show {
      visibility: visible;
      transform: translateY(0);
    }

    &--desktop {
      display: none;

      @include medium-up {
        display: block;
        display: flex;
        align-items: center;
        gap: 3.5rem;
      }
    }

    .menu {
      @include medium-up {
        display: flex;
        flex-direction: row;
        gap: 0;
      }

      > .menu-item {
        @include medium-up {
          height: $content-offset;
          cursor: pointer;
          padding: 0 1.75rem;
          width: fit-content;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        /*         &.is-sibling-before {
          @include medium-up {
            padding-right: 0;
          }
        }

        &.is-sibling-after {
          @include medium-up {
            padding-left: 0;
          }
        }
 */
        &.menu-item-has-children {
          position: relative;

          /*           &:hover {
            padding: 0 3.5rem;
          } */

          > a {
            display: flex;
            gap: 0.5rem;
            align-items: center;

            &::after {
              content: '';
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 100%;
              background: $color-black;
              mask-image: url('../assets/icons/plus-thin.svg');
              mask-repeat: no-repeat;
              mask-position: center;
              mask-size: contain;
              transition: all 0.3s $transition;
              display: none;

              @include medium-up {
                display: block;
              }

              .home:not(.scrolled) & {
                @include medium-up {
                  background: $color-white;
                }
              }
            }

            &[aria-expanded='true'] {
              &::after {
                transform: rotate(45deg);
              }
            }
          }
        }

        &:last-child {
          @include medium-up {
            padding-right: 0;
          }
        }

        > a {
          @include medium-up {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 0.3s $transition;
            font-size: inherit;

            .home:not(.scrolled) & {
              color: $color-white;
            }
          }
        }

        .sub-menu {
          /*           max-height: 0;
          height: auto;
          margin: 0;
          overflow-y: hidden;
          @include transition(max-height);
 */
          @include medium-up {
            z-index: 1000;
            position: absolute;
            top: calc(#{$content-offset});
            left: 50%;
            transform: translateX(-50%) scale3d(0.97, 0.97, 1);
            background: $color-white;
            padding: 3rem;
            width: 100%;
            min-width: 42rem;
            max-height: unset;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            box-shadow: inset 0px 0px 0 0.5px $color-grey-dark;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 3rem;
            transition: none;

            &--show {
              visibility: visible;
              opacity: 1;
              transform: translateX(-50%) scale3d(1, 1, 1);
              transition: all 0.5s $transition;
            }
          }

          > .menu-item {
            a {
              @include medium-up {
                padding: 1rem 0;
                border-bottom: $border;
                display: block;
                @include hero-text-small;
              }
            }

            &:nth-child(1),
            &:nth-child(2) {
              a {
                @include medium-up {
                  padding-top: 0;
                }
              }
            }
          }
        }

        &.current-menu-item > .sub-menu,
        &.current-menu-ancestor > .sub-menu,
        &.current-menu-parent > .sub-menu {
          max-height: 100%;
          @include medium-up {
            max-height: unset;
          }
        }
      }

      & .current-menu-item,
      .current-page-ancestor {
        > a {
          color: $color-black;
        }
      }
    }
  }
}
