.events-list {
  @include spacing;

  h2 {
    margin-bottom: 0;
  }

  &__container {
    @include container-large;
  }

  &__wrapper {
    @include two-column-grid;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: $gutter-s;

    @include medium-up {
      gap: $gutter-sm;
    }
  }

  &__more {
    @include primary-button;
    margin-top: $gutter-sm;

    @include medium-up {
      margin-top: 3rem;
    }
  }
}
