.events-single {
  &__header {
    @include container-large;

    > div {
      @include two-column-grid(60%, 40%);
      @include spacing-medium-bottom;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__summary {
    border: $border;
    box-shadow: $box-shadow;
    background-color: $color-white;
    padding: 1.5rem;

    @include medium-up {
      padding: 2rem;
    }

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__cta {
    a {
      @include primary-button;
    }
  }

  &__content {
    @include spacing-medium;
    @include container;

    @include medium-up {
      font-size: rem(18px);
    }
  }
}
