.events-single {
  &__header {
    @include container-large;

    > div {
      @include two-column-grid(1.5fr, 1fr);
      @include spacing-medium-bottom;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__summary {
    @include box;

    @include medium-up {
      padding: 2rem;
    }

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__cta {
    a {
      @include primary-button;
    }
  }

  &__content {
    @include spacing-medium;
    @include container;
  }
}
