.hero {
  width: 100%;
  padding: 0 1rem;

  @include medium-up {
    padding: 0 3rem;
  }

  &__container {
    @include header-image;
  }

  &__content {
    @include container-large;
    position: relative;
    z-index: 1;
    padding-bottom: 2rem !important;

    @include medium-up {
      padding-bottom: 6rem !important;
    }
  }

  &__title {
    @include h2;
    color: $color-white;
  }
}
