.location-teaser {
  @include list-item-with-icon;

  &__title {
    @include hero-text-small;
    font-weight: normal;
    margin: 0;
  }
}

.locations-overview__item:last-child {
  .location-teaser {
    border-bottom: $border;
  }
}
