.locations-overview {
  @include spacing;

  &__container {
    @include container-large;

    display: grid;
    grid-template-columns: 1fr;
    @include gap();

    @include medium-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__header {
    @include title-subtitle-header;

    @include medium-up {
      @include sticky;
      height: fit-content;
      margin: 0;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__subtitle {
    @include subtitle;
  }
}
