body {
  .gform-theme {
    --gf-color-primary: #ffed00 !important;
    --gf-color-primary-rgb: 255, 237, 0 !important;
    --gf-color-primary-contrast: #000000 !important;
    --gf-color-primary-contrast-rgb: 0, 0, 0 !important;
    --gf-color-primary-darker: #d6c900 !important; /* Slightly darker yellow */
    --gf-color-primary-lighter: #fff533 !important; /* Slightly lighter yellow */

    --gf-color-secondary: #ffffff !important;
    --gf-color-secondary-rgb: 255, 255, 255 !important;
    --gf-color-secondary-contrast: #000000 !important;
    --gf-color-secondary-contrast-rgb: 0, 0, 0 !important;
    --gf-color-secondary-darker: #f0f0f0 !important;
    --gf-color-secondary-lighter: #ffffff !important;

    --gf-color-out-ctrl-light: rgba(0, 0, 0, 0.1) !important;
    --gf-color-out-ctrl-light-rgb: 0, 0, 0 !important;
    --gf-color-out-ctrl-light-darker: rgba(174, 185, 194, 0.35) !important;
    --gf-color-out-ctrl-light-lighter: #f0f0f0 !important;

    --gf-color-out-ctrl-dark: #aeb9c2 !important;
    --gf-color-out-ctrl-dark-rgb: 174, 185, 194 !important;
    --gf-color-out-ctrl-dark-darker: #000000 !important;
    --gf-color-out-ctrl-dark-lighter: rgba(0, 0, 0, 0.65) !important;

    --gf-color-in-ctrl: #ffffff !important;
    --gf-color-in-ctrl-rgb: 255, 255, 255 !important;
    --gf-color-in-ctrl-contrast: #000000 !important;
    --gf-color-in-ctrl-contrast-rgb: 0, 0, 0 !important;
    --gf-color-in-ctrl-darker: #f0f0f0 !important;
    --gf-color-in-ctrl-lighter: #ffffff !important;

    --gf-color-in-ctrl-primary: #ffed00 !important;
    --gf-color-in-ctrl-primary-rgb: 255, 237, 0 !important;
    --gf-color-in-ctrl-primary-contrast: #000000 !important;
    --gf-color-in-ctrl-primary-contrast-rgb: 0, 0, 0 !important;
    --gf-color-in-ctrl-primary-darker: #d6c900 !important;
    --gf-color-in-ctrl-primary-lighter: #fff533 !important;

    --gf-color-in-ctrl-light: rgba(0, 0, 0, 0.1) !important;
    --gf-color-in-ctrl-light-rgb: 0, 0, 0 !important;
    --gf-color-in-ctrl-light-darker: rgba(174, 185, 194, 0.35) !important;
    --gf-color-in-ctrl-light-lighter: #f0f0f0 !important;

    --gf-color-in-ctrl-dark: #aeb9c2 !important;
    --gf-color-in-ctrl-dark-rgb: 174, 185, 194 !important;
    --gf-color-in-ctrl-dark-darker: #000000 !important;
    --gf-color-in-ctrl-dark-lighter: rgba(0, 0, 0, 0.65) !important;

    --gf-radius: 3px !important;
    --gf-font-size-secondary: 14px !important;
    --gf-font-size-tertiary: 13px !important;
    --gf-label-space-y-secondary: var(
      --gf-label-space-y-md-secondary
    ) !important;
    --gf-ctrl-border-color: #aeb9c2 !important;
    --gf-ctrl-size: var(--gf-ctrl-size-md) !important;
    --gf-ctrl-label-color-primary: #000000 !important;
    --gf-ctrl-label-color-secondary: #000000 !important;
    --gf-ctrl-choice-size: var(--gf-ctrl-choice-size-md) !important;
    --gf-ctrl-checkbox-check-size: var(
      --gf-ctrl-checkbox-check-size-md
    ) !important;
    --gf-ctrl-radio-check-size: var(--gf-ctrl-radio-check-size-md) !important;
    --gf-ctrl-btn-font-size: var(--gf-ctrl-btn-font-size-md) !important;
    --gf-ctrl-btn-padding-x: var(--gf-ctrl-btn-padding-x-md) !important;
    --gf-ctrl-btn-size: var(--gf-ctrl-btn-size-md) !important;
    --gf-ctrl-btn-border-color-secondary: #aeb9c2 !important;
    --gf-ctrl-file-btn-bg-color-hover: #f6f6f6 !important;

    --gf-field-img-choice-size: var(--gf-field-img-choice-size-md) !important;
    --gf-field-img-choice-card-space: var(
      --gf-field-img-choice-card-space-md
    ) !important;
    --gf-field-img-choice-check-ind-size: var(
      --gf-field-img-choice-check-ind-size-md
    ) !important;
    --gf-field-img-choice-check-ind-icon-size: var(
      --gf-field-img-choice-check-ind-icon-size-md
    ) !important;

    --gf-field-pg-steps-number-color: rgba(0, 0, 0, 0.8) !important;

    @include small-only {
      --gf-field-img-choice-size-md: calc(50% - 6px) !important;
    }
  }

  #gform_wrapper_4 {
    padding: 0;
    margin: 0;
  }

  .gform_wrapper {
    @include spacing-medium;
    @include container;

    .gform_heading {
      .gform_required_legend {
        display: none;
      }
    }

    .gform_body {
      .gform_fields {
        row-gap: 2rem;
        .gfield {
          h3,
          h4 {
            margin: 1rem 0 -0.75rem 0;
          }

          p {
            @include text-small;
            margin: 0;
          }

          label,
          legend {
            cursor: pointer;
          }

          input[type='text'],
          input[type='email'],
          input[type='tel'],
          input[type='number'],
          input[type='password'],
          input[type='url'],
          textarea,
          select {
            background-color: $color-grey;
            box-shadow: none;
            padding: 0.35rem 1rem;
            width: 100%;
            block-size: 3rem;
            font-size: 1rem;
            border-radius: 0;
            border: none;
            width: 100%;

            .single-stelle & {
              background-color: pink !important;
            }

            &::placeholder {
              color: $color-grey-dark;
            }

            &:focus {
              outline: solid $color-black 2px;
            }
          }

          textarea {
            padding: 1rem;
          }

          .gfield_radio,
          .gfield_checkbox {
            > .gchoice {
              align-items: center;
            }
          }
        }
      }
    }
    .gform_footer {
      input[type='submit'].gform_button {
        background-color: $color-green !important;
        color: $color-black !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0.9rem 1.5rem 0.8rem 1.5rem !important;
        border-radius: 100rem !important;
        font-weight: 500 !important;
        text-transform: uppercase !important;
        letter-spacing: $letter-spacing !important;
        font-size: rem(12px) !important;
        line-height: 1.5 !important;
        width: fit-content !important;
        cursor: pointer !important;
        display: inline-block !important;
        transition: transform 0.5s $transition !important;

        @include medium-up {
          font-size: rem(14px) !important;
        }

        @include large-up {
          padding: 1rem 1.75rem 0.9rem 1.75rem !important;
        }

        &:hover {
          transform: scale3d(0.97, 0.97, 1) !important;
        }
      }
    }

    .gform_confirmation_message {
      background-color: $color-green;
      padding: 2rem;
      color: $color-black;
    }
  }
}

.single-stelle {
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='number'],
  input[type='password'],
  input[type='url'],
  textarea,
  select {
    background-color: $color-white !important;
  }
}

/* input:not(input[type='checkbox'], input[type='submit']),
textarea {
  display: block;
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0.5rem 0;
  margin-bottom: 0.6rem;
  line-height: 1.2rem;
  width: 100%;
  transition: all 0.3s $transition;
  color: $color-black;

  &:focus {
  }
}

textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
}
 */
/* .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $color-green;

  input[type='checkbox'] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    border: $border;

    &:checked {
      &::after {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background: $color-green;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
    }
  }
} */
