.job-single {
  &__container {
    @include container-small;
  }

  &__thumbnail {
    @include header-image;
  }

  &__date {
    @include subtitle;
  }

  &__title {
    @include h2;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__category {
    @include category-tag;
  }

  &__content {
    @include spacing;
    @include spacing-medium-top;
  }

  &__details {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    @include spacing-small;
  }

  &__workload,
  &__location {
    @include text-with-icon;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    @include spacing-small;

    @include medium-up {
      gap: 2rem;
    }

    a {
      @include primary-button;
    }
  }

  &__contact {
    @include spacing-inner;
  }

  &__contact-container {
    @include container-large;

    display: grid;
    grid-template-columns: 1fr;
    @include gap();

    @include medium-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__contact-header {
    @include title-subtitle-header;
    margin-bottom: 2rem !important;
  }

  &__contact-title {
    text-align: center;
    @include h3;
  }

  &__contact-subtitle {
    @include subtitle;
  }

  &__contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .person {
      @include medium-up {
        width: 50%;
      }
    }
  }

  &__contact-text {
    @include hero-text-small;
    text-align: center;
  }

  &__contact-cta {
    @include spacing-top;
  }

  &__contact-cta-container {
    @include container-small;
  }
}
