.job-teaser {
  @include list-item-with-icon;
  @include arrow-hover-effect;
  padding: 1.5rem 0;

  &__details {
    display: flex;
    gap: 2rem;
    flex: wrap;
  }

  &__workload,
  &__location {
    @include text-with-icon;
  }
}
