.job-single {
  &__container {
    @include container-small;
  }

  &__thumbnail {
    @include header-image;
  }

  &__date {
    @include subtitle;
  }

  &__title {
    @include h2;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__category {
    @include category-tag;
  }

  &__content {
    @include spacing-medium;
  }

  &__details {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    @include spacing-small;
  }

  &__workload,
  &__location {
    @include text-with-icon;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    @include spacing-small;

    @include medium-up {
      gap: 2rem;
    }

    a {
      @include primary-button;
    }
  }

  &__contact {
    @include spacing-inner-medium;
    background-color: $color-yellow;
  }

  &__contact-container {
    @include container-large;
  }

  &__contact-header {
    @include title-subtitle-header;
  }

  &__contact-title {
    @include h3;
  }

  &__contact-subtitle {
    @include subtitle;
  }

  &__contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contact-image {
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }
}
