/* Sub Service Block */
.sub-service {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &__image {
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: 700;
  }

  &__content {
    p:last-child {
      margin-bottom: 0;
    }
  }
}
