@mixin sr-only() {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.sr-only {
  @include sr-only;
}

@mixin card-arrow() {
  background-color: $color-blue;
  border-radius: 50%;
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  transform: rotate(0deg);
  @include transition(all);
}

@mixin card-arrow-hover() {
  background-color: $color-blue-dark;
  transform: rotate(45deg);
}

@mixin box() {
  border: $border;
  box-shadow: $box-shadow;
  background-color: $color-white;
  padding: 1.25rem;

  @include medium-up {
    padding: 1.25rem;
  }

  &:is(a) {
    @include transition(all);

    &:hover {
      box-shadow: $box-shadow-hover;
      /*       transform: translate(1px, 1px); */

      .arrow {
        @include card-arrow-hover;
      }
    }
  }

  .arrow {
    @include card-arrow;
  }
}

@mixin header-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: flex-end;

  @include medium-up {
    aspect-ratio: 16 / 6;
    max-height: 48rem;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
    object-position: 50% 50%;
    z-index: 0;
  }
}

@mixin container-large() {
  max-width: $container-large;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 3rem;
  }
}

.container-large {
  @include container-large;
}

@mixin container-full() {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 3rem;
  }
}
.container-full {
  @include container-full;
}

@mixin container() {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 3rem;
  }
}
.container {
  @include container;
}

@mixin two-column-grid($left-width: 1fr, $right-width: 1.5fr) {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $gutter-sm;

  @include medium-up {
    grid-template-columns: $left-width $right-width;

    gap: $gutter-lg;
  }
}

@mixin container-extra-small() {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 3rem;
  }
}

@mixin spacing-inner() {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include medium-up {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @include large-up {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@mixin spacing-inner-medium() {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include medium-up {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@mixin spacing() {
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include medium-up {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  @include large-up {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@mixin spacing-bottom() {
  margin-bottom: 6rem;

  @include medium-up {
    margin-bottom: 6rem;
  }

  @include large-up {
    margin-bottom: 8rem;
  }
}

@mixin spacing-top() {
  margin-top: 6rem;

  @include medium-up {
    margin-top: 6rem;
  }

  @include large-up {
    margin-top: 8rem;
  }
}

@mixin spacing-medium() {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  @include medium-up {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@mixin spacing-medium-bottom() {
  margin-bottom: 2.5rem;

  @include medium-up {
    margin-bottom: 4rem;
  }
}

@mixin spacing-medium-top() {
  margin-top: 2.5rem;

  @include medium-up {
    margin-top: 4rem;
  }
}

@mixin spacing-small() {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include medium-up {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@mixin spacing-small-bottom() {
  margin-bottom: 1rem;

  @include medium-up {
    margin-bottom: 2rem;
  }
}
@mixin spacing-small-top() {
  margin-top: 1rem;

  @include medium-up {
    margin-top: 2rem;
  }
}

@mixin text-max-width() {
  max-width: 40rem;
}

@mixin transition($property: transform) {
  transition: #{$property} 0.5s $transition;
}

@mixin subtitle() {
  font-size: rem(13px);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  margin-bottom: 1rem;

  @include medium-up {
    font-size: rem(14px);
  }

  @include large-up {
    font-size: 1rem;
  }
}

.subtitle {
  @include subtitle;
}

@mixin hero-text() {
  font-size: rem(24px);

  @include medium-up {
    font-size: rem(34px);
  }
}

@mixin hero-text-small() {
  font-size: rem(18px);

  @include large-up {
    font-size: rem(20px);
  }
}

@mixin text-small() {
  font-size: rem(13px);

  @include medium-up {
    font-size: rem(13px);
  }
}

@mixin button() {
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  font-size: rem(14px);
  border-radius: 100rem;
  cursor: pointer;
  display: inline-block;
  border: none;
  line-height: 1.5;
  width: fit-content;
  text-decoration: none;
  @include transition(all);

  @include large-up {
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  }
}

@mixin primary-button() {
  @include button();
  background-color: $color-blue;
  color: $color-white;

  &:hover {
    transform: translate(0px, -2px);
    background-color: $color-blue-dark;
    color: $color-white;
  }
}

@mixin secondary-button() {
  @include button();
  background-color: transparent;
  color: $color-black;
  box-shadow: inset 0px 0px 0 1.5px $color-black;
}

.primary-button {
  @include primary-button;
}

@mixin h1 {
  font-size: rem(34px);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
  overflow-wrap: break-word;
  word-break: break-word;
  color: $color-green;

  &:last-child {
    margin-bottom: 0;
  }

  @include medium-up() {
    font-size: rem(52px);
  }

  @include xlarge-up() {
    font-size: rem(60px);
  }
}

@mixin h2 {
  font-size: rem(24px);
  hyphens: auto;
  line-height: 1.25;
  font-weight: 600;
  color: $color-green;
  margin-bottom: $gutter-sm;

  @include medium-up() {
    font-size: rem(28px);
  }

  @include xlarge-up() {
    font-size: rem(34px);
  }
}

@mixin h3 {
  font-size: rem(20px);
  font-weight: 600;
  hyphens: auto;
  margin-bottom: 0.75rem;
  line-height: 1.35;

  @include medium-up() {
    font-size: rem(20px);
  }
}

@mixin h4 {
  font-size: rem(20px);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.75rem;

  @include medium-up() {
    font-size: rem(20px);
  }
}

@mixin h5 {
  font-size: 1rem;
  line-height: 1.2;

  @include medium-up() {
    font-size: 1.0625rem;
  }

  @include large-up() {
    font-size: 1.125rem;
  }
}

@mixin more-button() {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  @include medium-up {
    margin-top: 4rem;
  }
}

@mixin category-tag() {
  background-color: $color-green;
  padding: 0.65rem 0.65rem 0.55rem 0.65rem;
  margin: 0 !important;
  display: inline-block;

  @include medium-up {
    font-size: rem(12px);
  }
}

@mixin gap() {
  gap: 2rem;

  @include medium-up {
    gap: 1.5rem;
  }
}

@mixin input() {
  background-color: $color-grey-light;
  border: none;
  box-shadow: none;
  padding: 0.75rem;
  border-radius: 0;
  width: 100%;
  font-family: $font-family;
  font-size: 1rem;
  transition: none;

  &::placeholder {
    color: $color-grey-dark;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px $color-green;
  }
}

@mixin checkbox() {
  label {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    background-color: $color-grey;

    @include medium-up {
      font-size: rem(14px);
      gap: 0.75rem;
    }

    appearance: none;
    border-radius: 100rem;
    @include transition(all);
    padding: 0.5rem 1rem 0.5rem 1rem;

    img {
      width: rem(8px);
      height: auto;
      transition: transform 0.3s $transition;

      @include medium-up {
        width: rem(10px);
      }
    }
  }

  input {
    @include sr-only;

    &:checked + label {
      background-color: $color-grey-dark;
    }

    &:checked + label .referenzen-filter__icon,
    &:checked + label .news-filter__icon,
    &:checked + label .team-filter__icon,
    &:checked + label .jobs-filter__icon {
      transform: rotate(45deg);
    }
  }
}

@mixin select() {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $color-black;
  background-image: url('../assets/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  padding: 0.75rem 1rem 0.65rem 1rem;
  padding-right: 2.5rem;

  color: $color-white;

  border: none;
  border-radius: 100rem;
  cursor: pointer;

  option {
    text-transform: none;
  }
}

@mixin card-filter-transition() {
  display: block;

  &.is-hidden {
    display: none;
  }
}

@mixin sticky() {
  position: sticky;
  top: calc(#{$content-offset} + 2rem);
  z-index: 1;
}

@mixin filter-component {
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @include medium-up {
      gap: 2rem;
    }
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;

    @include medium-up() {
      gap: 1rem;
    }
  }

  &__checkbox {
    @include checkbox();
  }

  &__item--empty {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: $color-grey;
  }
}

@mixin list-item-with-icon {
  display: block;
  padding: 1rem 0;
  border-top: $border;
  text-decoration: none;
  color: $color-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &__more-icon {
    width: 1.5rem;
    height: auto;
  }
}

@mixin text-with-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  p {
    margin: 0;
  }

  img {
    width: 1rem;
    height: auto;
  }
}

@mixin underlined-link() {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: fit-content;
  color: $color-green;
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.075em;
  text-decoration-color: $color-green;

  &:hover {
    text-decoration: none;
  }
}
