@mixin spacing() {
  margin: 4rem 0;

  @include medium-up {
    margin: 6rem 0;
  }
}

@mixin spacing-small() {
  margin: 3rem 0;

  @include medium-up {
    margin: 5rem 0;
  }
}

@mixin title-spacing() {
  margin: 2rem 0 1rem 0;

  @include medium-up {
    margin: 3rem 0 1rem 0;
  }
}

@mixin container-small() {
  max-width: 48rem;
}

@mixin transition($property: transform) {
  transition: #{$property} 0.3s ease;
}

@mixin hover-effect() {
  filter: brightness(1);
  @include transition(filter);

  &:hover {
    filter: brightness(0);
  }
}
