@mixin sr-only() {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.sr-only {
  @include sr-only;
}

@mixin title-subtitle-header() {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include medium-up {
    margin-bottom: 4rem;
  }
}

.title-subtitle-header {
  @include title-subtitle-header;
}

@mixin header-image {
  width: 100%;
  max-height: 52rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-bottom: 6px solid $color-yellow;

  @include medium-up {
    min-height: 24rem;
    aspect-ratio: 16 / 5;
  }
}

@mixin container() {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 2rem;
  }
}

.container {
  @include container;
}

@mixin container-large() {
  max-width: $container-large;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 2rem;
  }
}

.container-large {
  @include container-large;
}

@mixin container-full() {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 2rem;
  }
}
.container-full {
  @include container-full;
}

@mixin container-small() {
  max-width: $container-small;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 2rem;
  }
}
.container-small {
  @include container-small;
}

@mixin container-extra-small() {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @include medium-up {
    padding: 0 2rem;
  }
}

@mixin spacing-inner() {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include medium-up {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @include large-up {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@mixin spacing-inner-medium() {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include medium-up {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@mixin spacing() {
  margin-top: 6rem;
  margin-bottom: 6rem;

  @include large-up {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

@mixin spacing-bottom() {
  margin-bottom: 7rem;

  @include medium-up {
    margin-bottom: 8rem;
  }

  @include large-up {
    margin-bottom: 10rem;
  }
}

@mixin spacing-top() {
  margin-top: 7rem;

  @include medium-up {
    margin-top: 8rem;
  }

  @include large-up {
    margin-top: 10rem;
  }
}

@mixin spacing-medium() {
  margin-top: 4rem;
  margin-bottom: 4rem;

  @include medium-up {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@mixin spacing-medium-bottom() {
  margin-bottom: 4rem;

  @include medium-up {
    margin-bottom: 5rem;
  }
}

@mixin spacing-medium-top() {
  margin-top: 4rem;

  @include medium-up {
    margin-top: 5rem;
  }
}

@mixin spacing-small() {
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include medium-up {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@mixin spacing-small-bottom() {
  margin-bottom: 2rem;

  @include medium-up {
    margin-bottom: 3rem;
  }
}
@mixin spacing-small-top() {
  margin-top: 2rem;

  @include medium-up {
    margin-top: 3rem;
  }
}

@mixin title-spacing() {
  margin: 2rem 0 1rem 0;

  @include medium-up {
    margin: 3rem 0 1rem 0;
  }
}

@mixin text-max-width() {
  max-width: 40rem;
}

@mixin transition($property: transform) {
  transition: #{$property} 0.4s $transition;
}

@mixin hover-scale() {
  @media (hover: hover) {
    transition: transform 0.5s $transition;

    &:hover {
      transform: scale3d(0.97, 0.97, 1);
    }
  }
}

@mixin subtitle() {
  font-size: rem(13px);
  font-family: $font-family-mono;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  margin-bottom: 1rem;

  @include medium-up {
    font-size: rem(14px);
  }

  @include large-up {
    font-size: 1rem;
  }
}

.subtitle {
  @include subtitle;
}

@mixin hero-text() {
  font-size: rem(24px);

  @include medium-up {
    font-size: rem(34px);
  }
}

@mixin hero-text-small() {
  font-size: rem(18px);

  @include large-up {
    font-size: rem(20px);
  }
}

@mixin text-small() {
  font-size: rem(12px);

  @include medium-up {
    font-size: rem(14px);
  }
}

@mixin filter-button-label {
  font-family: $font-family-mono;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  color: $color-black;
  text-decoration: none;
  font-size: rem(12px);

  @include medium-up {
    font-size: rem(14px);
  }
}

@mixin button() {
  @include filter-button-label();
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  border-radius: 100rem;
  cursor: pointer;
  display: inline-block;
  border: none;
  line-height: 1.5;
  width: fit-content;

  @include hover-scale();

  @include large-up {
    padding: 0.9rem 1.75rem 0.9rem 1.75rem;
  }
}

@mixin animated-button() {
  &__text {
    position: relative;
    overflow: hidden;
  }

  span {
    position: relative;
    display: block;
    transition: transform 0.5s $transition;
    transform: translateY(0%) rotate(0.001deg);
  }

  span:last-child {
    position: absolute;
    top: 100%;
  }

  &:hover span {
    transform: translateY(-100%) rotate(0.001deg);
  }
}

@mixin primary-button() {
  @include button();
  background-color: $color-yellow;
  color: $color-black;
}

@mixin secondary-button() {
  @include button();
  background-color: transparent;
  color: $color-black;
  box-shadow: inset 0px 0px 0 1.5px $color-black;
}

.animated-button {
  @include primary-button;
  @include animated-button;
}

@mixin link() {
  display: block;
  color: $color-black;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: 500;
  font-size: rem(12px);
  font-family: $font-family-mono;
  text-decoration: underline;
  text-decoration-color: $color-yellow;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.5em;
  line-height: 2.4;

  .animate-bg-yellow & {
    text-decoration-color: $color-black;
  }

  @include medium-up() {
    font-size: rem(14px);
  }
}

@mixin h1 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1.75rem;
  overflow-wrap: break-word;
  word-break: break-word;

  &:last-child {
    margin-bottom: 0;
  }

  @include medium-up() {
    font-size: 4rem;
  }

  @include large-up() {
    font-size: 5rem;
    margin-bottom: 2.5rem;
  }
}

@mixin h2 {
  font-size: rem(36px);
  hyphens: auto;
  line-height: 1.2;
  font-weight: bold;
  color: $color-black;

  @include medium-up() {
    font-size: rem(46px);
  }

  @include xlarge-up() {
    font-size: rem(52px);
  }
}

@mixin h3 {
  font-size: rem(22px);
  font-weight: bold;
  hyphens: auto;
  margin-bottom: 0.75rem;
  line-height: 1.3;

  @include medium-up() {
    font-size: 1.625rem;
  }

  @include large-up() {
    font-size: 1.625rem;
  }
}

@mixin h4 {
  font-size: rem(18px);
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.25rem;

  @include medium-up() {
    font-size: rem(22px);
  }
}

@mixin h5 {
  font-size: 1rem;
  line-height: 1.2;

  @include medium-up() {
    font-size: 1.0625rem;
  }

  @include large-up() {
    font-size: 1.125rem;
  }
}

@mixin more-button() {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  @include medium-up {
    margin-top: 4rem;
  }
}

@mixin category-tag() {
  @include filter-button-label;
  background-color: $color-yellow;
  padding: 0.65rem 0.65rem 0.55rem 0.65rem;
  margin: 0 !important;
  display: inline-block;

  @include medium-up {
    font-size: rem(12px);
  }
}

@mixin gap() {
  gap: 2rem;

  @include medium-up {
    gap: 1.5rem;
  }
}

@mixin input() {
  background-color: $color-grey-light;
  border: none;
  box-shadow: none;
  padding: 0.75rem;
  border-radius: 0;
  width: 100%;
  font-family: $font-family;
  font-size: 1rem;

  &::placeholder {
    color: $color-grey-dark;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px $color-yellow;
  }
}

@mixin checkbox() {
  label {
    @include filter-button-label;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    background-color: $color-grey;

    @include medium-up {
      font-size: rem(14px);
      gap: 0.75rem;
    }

    appearance: none;
    border-radius: 100rem;
    transition: all 0.3s $transition;
    padding: 0.75rem 1rem 0.65rem 1rem;

    img {
      width: rem(8px);
      margin-bottom: 0.125rem;
      height: auto;
      transition: transform 0.3s $transition;

      @include medium-up {
        width: rem(10px);
      }
    }

    &:hover {
      @include hover-scale();
    }
  }

  input {
    @include sr-only;

    &:checked + label {
      background-color: $color-yellow;
    }

    &:checked + label .referenzen-filter__icon,
    &:checked + label .news-filter__icon,
    &:checked + label .team-filter__icon,
    &:checked + label .jobs-filter__icon {
      transform: rotate(45deg);
    }
  }
}

@mixin select() {
  @include filter-button-label();
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $color-black;
  background-image: url('../assets/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  padding: 0.75rem 1rem 0.65rem 1rem;
  padding-right: 2.5rem;

  color: $color-white;

  border: none;
  border-radius: 100rem;
  cursor: pointer;

  option {
    text-transform: none;
  }
}

@mixin card-filter-transition() {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s $transition, transform 0.5s $transition;

  &.is-hidden {
    display: block;
    opacity: 0;
    transform: scale3d(0.98, 0.98, 1);
    pointer-events: none;
    position: absolute;
    visibility: hidden;
  }
}

@mixin sticky() {
  position: sticky;
  top: calc(#{$content-offset} + 2rem);
  z-index: 1;
}

@mixin filter-component {
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    @include spacing-medium-bottom();

    @include medium-up {
      gap: 2rem;
    }
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;

    @include medium-up() {
      gap: 1rem;
    }
  }

  &__checkbox {
    @include checkbox();
  }

  &__item--empty {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: $color-grey;
  }
}

@mixin list-item-with-icon {
  display: block;
  padding: 1rem 0;
  border-top: $border;
  text-decoration: none;
  color: $color-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &__more-icon {
    width: 1.5rem;
    height: auto;
  }
}

@mixin text-with-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  p {
    margin: 0;
  }

  img {
    width: 1rem;
    height: auto;
  }
}

@mixin underlined-link() {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: $color-black;
  width: fit-content;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $color-yellow;

    .animate-bg-yellow & {
      background-color: $color-black;
    }
  }

  &::before {
    transform-origin: left;
    transform: scaleX(1) rotate(0.001deg);
    transition-delay: 0.3s;
    transition: transform 0.5s $transition;

    .full-element-link:hover & {
      transform-origin: right;
      transform: scaleX(0) rotate(0.001deg);
      transition-delay: 0s;
    }
  }

  &::after {
    transform-origin: right;
    transform: scaleX(0) rotate(0.001deg);
    transition-delay: 0s;
    transition: transform 0.5s $transition;

    .full-element-link:hover & {
      transform-origin: left;
      transform: scaleX(1) rotate(0.001deg);
      transition-delay: 0.3s;
    }
  }

  &:hover {
    &::before {
      transform-origin: right;
      transform: scaleX(0) rotate(0.001deg);
      transition-delay: 0s;
    }

    &::after {
      transform-origin: left;
      transform: scaleX(1) rotate(0.001deg);
      transition-delay: 0.3s;
    }
  }
}

@mixin underlined-link-mono() {
  display: block;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: 500;
  font-size: rem(12px);
  font-family: $font-family-mono;
  line-height: 2;

  @include medium-up() {
    font-size: rem(14px);
  }

  &::before,
  &::after {
    height: 0.15em;
  }
}

@mixin arrow-hover-effect($type: 'interal') {
  &__arrow-container {
    position: relative;
    overflow: hidden;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__arrow {
    width: 1.5rem;
    height: 1.5rem;

    transition: transform 0s $transition;

    &--primary {
      position: relative;
      transform: translateX(0);
    }

    &--secondary {
      position: absolute;
      top: 0;
      transform: translateX(-150%);
    }
  }

  &:hover &__arrow--primary,
  &:hover &__arrow--secondary {
    transition: transform 0.5s $transition;
  }

  @if $type == 'internal' {
    &__arrow--secondary {
      transform: translateX(-150%);
    }

    &:hover &__arrow--primary {
      transform: translateX(150%);
    }

    &:hover &__arrow--secondary {
      transform: translateX(0);
    }
  }

  @if $type == 'external' {
    &__arrow--secondary {
      transform: translate(-100%, 100%);
    }

    &:hover &__arrow--primary {
      transform: translate(150%, -150%);
    }

    &:hover &__arrow--secondary {
      transform: translate(0, 0);
    }
  }

  &.cta-list-item--external &__arrow--secondary {
    transform: translate(-100%, 100%);
  }

  // External link animation (right and up)
  &.cta-list-item--external:hover &__arrow--primary {
    transform: translate(150%, -150%);
  }

  &.cta-list-item--external:hover &__arrow--secondary {
    transform: translate(0, 0);
  }

  @if $type == 'down' {
    &__arrow--secondary {
      transform: translateY(-150%);
    }

    &:hover &__arrow--primary {
      transform: translateY(150%);
    }

    &:hover &__arrow--secondary {
      transform: translateY(0);
    }
  }
}
