// -----------------------------------------------------------------------------
// This file contains all Sass variables.
// -----------------------------------------------------------------------------

// Basic Colors
// -------
$color-yellow: #ffed00;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #f0f0f0;
$color-grey-light: #f6f6f6;
$color-grey-dark: #aeb9c2;

// Fonts
// -------
$global-font-size: 16px;
$font-family: 'Benton Sans', Arial, sans-serif;
$font-family-mono: 'Simplon Mono', Courier, monospace;

// Line height
// -------
$line-height: 1.65;

// Breakpoints
// -------
$breakpoint-small: 640px;
$breakpoint-medium: 992px;
$breakpoint-large: 1300px;
$breakpoint-xlarge: 1600px;
$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

// Container widths
// -------
$container: 60rem;
$container-small: 46rem;
$container-large: 80rem;

// Border
// -------
$border: solid 1.5px $color-yellow;

// Transition
// -------
$transition: cubic-bezier(0.65, 0, 0.35, 1);

// Navigation height
// -------
$content-offset: 5rem;

// WordPress offset
// -------
$logged-in-offset: 32px;

// Letter spacing
// -------
$letter-spacing: 0.1em;

// Aspect ratio
// -------
$aspect-ratio-portrait: 5 / 4;
