// -----------------------------------------------------------------------------
// This file contains all Sass variables.
// -----------------------------------------------------------------------------

// Basic Colors
// -------
$color-gold: #aa9673;
$color-black: #28190a;
$color-white: #ffffff;
$color-grey: #707070;
$color-grey-light: #f0f0f1;

// Fonts
// -------
$global-font-size: 16px;

// Breakpoints
// -------
$breakpoint-small: 640px;
$breakpoint-medium: 992px;
$breakpoint-large: 1680px;
$breakpoint-xlarge: 2400px;
$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

// Transition
// -------
$transition: cubic-bezier(0, 0.53, 0.86, 0.99);

// Offset
// -------
$content-offset: 2rem;

// Navigation height
// -------
$content-offset: 6rem;

// Letter spacing
$letter-spacing: 0.15em;
