// -----------------------------------------------------------------------------
// This file contains all Sass variables.
// -----------------------------------------------------------------------------

// Basic Colors
// -------
$color-yellow: #ffed00;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #f0f0f0;
$color-grey-light: #f6f6f6;
$color-grey-dark: #aeb9c2;

// Fonts
// -------
$global-font-size: 16px;
$font-family: 'Helvetica Neue', Arial, sans-serif;

// Breakpoints
// -------
$breakpoint-small: 640px;
$breakpoint-medium: 992px;
$breakpoint-large: 1400px;
$breakpoint-xlarge: 2000px;
$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

// Transition
// -------
$transition: cubic-bezier(0, 0.53, 0.86, 0.99);

// Offset
// -------
$content-offset: 2rem;

// Navigation height
// -------
$content-offset: 6rem;

// Letter spacing
$letter-spacing: 0.15em;

// WordPress logged in offset
$logged-in-offset: 32px;
