.accordion {
  border-top: $border;

  &:last-child {
    border-bottom: $border;
  }

  &__trigger {
    appearance: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    color: $color-black;
  }

  &__title {
    @include h4;
    font-family: $font-family;
    margin: 0;
  }

  &__category {
    @include subtitle;
    margin-bottom: 0.5rem;
  }

  &__arrow-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    .active & {
      transform: rotate(180deg);
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  &__content-inner {
    padding: 0 0 1.5rem 0;
  }
}
