.card {
  &__link {
    display: block;
    text-decoration: none;
    display: flex;
    gap: $gutter-sm;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include box;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
  }

  &__date {
    @include text-small;
    color: $color-blue-light;
  }

  &__title {
    margin: 0;
  }

  &__category {
    @include text-small;
    color: $color-green;
  }
}
