.cta-list-item {
  @include arrow-hover-effect('internal');
  @include list-item-with-icon;
  text-decoration: none;
  color: inherit;

  &__title {
    @include hero-text-small;
    font-weight: normal;
    margin: 0;
  }
}
