.job-list__title {
  margin-bottom: 3rem;
}

.job-list__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.job-list__item {
  border-top: 1px solid #ccc;
  display: flex;
}

.job-list__item:last-child {
  border-bottom: 1px solid #ccc;
}

.job-list__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5625rem;
  padding: 1.25rem 0;
  width: 100%;
}

.job-list__link img {
  width: 2rem;
  height: auto;
  transition: transform 0.3s ease;
}

.job-list__link:hover img {
  transform: rotate(-45deg);
}

.job-list__icon {
  font-weight: bold;
  margin-left: auto;
}
