.referenzen {
  @include spacing-small-top;
  @include spacing-medium-bottom;

  &__container {
    @include container-large;
  }

  .referenzen-overview {
    &__items {
      display: grid;
      gap: 3rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      @include medium-up {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__item {
      @include card-filter-transition;
    }

    &__link {
      color: inherit;
      text-decoration: none;
    }

    &__thumbnail {
      position: relative;
    }

    &__title {
      @include h3;
    }
  }
}
