.referenz-project {
  &__thumbnail {
    @include header-image;
  }

  &__header {
    @include container;
  }

  &__type {
    @include subtitle;
  }

  &__title {
    @include h2;
  }

  &__intro {
    @include hero-text-small;
  }

  &__facts {
    @include spacing;
  }

  &__facts-wrapper {
    @include container;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    @include medium-up {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }

  &__facts-title {
    h2 {
      @include sticky;
    }
  }

  &__facts-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      @include underlined-link;
    }

    @include medium-up {
      gap: 3rem;
    }
  }

  &__facts-item {
    h3 {
      @include h4;
    }
  }

  &__facts-content {
    border-top: $border;
    border-bottom: $border;
    padding: 1rem 0;
  }

  &__project-manager-item {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__project-manager-portrait {
    width: rem(60px);
    height: rem(60px);
    border-radius: 50%;
    object-fit: cover;
  }

  &__content {
    @include spacing;
  }

  &__content-wrapper {
    @include container;
  }
}
