.referenz-impression {
  @include spacing-medium;

  &__header {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__content {
    @include container;
  }

  &__gallery {
    @include container-large;

    .swiper-slide {
      img {
        max-width: 100%;
        height: auto;
        max-height: 450px;
        object-fit: contain;

        @include medium-up {
          max-height: 500px;
          object-fit: cover;
        }
      }
    }
  }
}
