.referenzen {
  @include spacing-small;
  &__container {
    @include container-large;
  }

  &__header {
    @include title-subtitle-header;
  }

  &__subtitle {
    @include subtitle;
  }

  .referenzen-list {
    @include spacing;

    &__container {
      @include container-large;
    }

    &__items {
      display: grid;
      gap: 3rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      @include card-filter-transition;
    }

    &__link {
      color: inherit;
      text-decoration: none;
    }

    &__thumbnail {
      position: relative;
    }

    &__title {
      @include h3;
    }
  }
}
