:root {
  --gold: #aa9673;
  --black: #28190a;
  --white: #ffffff;
  
}

@font-face {
  font-family: 'Cadiz';
  src: url('../fonts/Cadiz-Regular.otf') format('opentype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

body {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: 'Cadiz', sans-serif;
}

h1 {
  font-size: 2.8125rem;
}

h2 {
  font-size: 1.5625rem;
}

h3 {
  font-size: 1.5625rem;
}

h4 {
  font-size: 1.5625rem;
}

h5 {
  font-size: 0.9375rem;
}

.text-small {
  font-size: 0.9375rem;
}

a {
  color: var(--gold);
  text-decoration: none;
}
