.news-single {
  &__container {
    @include container-small;
  }

  &__header {
    @include spacing-inner-medium;
    padding-top: 0 !important;
    border-bottom: $border;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__category {
    color: $color-green;
  }

  &__title {
    @include h2;
    @include spacing-small;
  }

  &__content {
    @include spacing-medium;
  }
}
