.news-card {
  background-color: $color-white;
  position: relative;

  .news-overview & {
    @include card-filter-transition;
    background-color: $color-grey-light;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;

    aspect-ratio: $aspect-ratio-portrait;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    padding: 1.5rem;
    @include small-up {
      padding: 2rem;
    }
  }

  &__categories {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    .category-tag {
      @include category-tag;
    }
  }

  &__excerpt {
    margin-bottom: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__link {
    @include underlined-link;
  }
}
