.news-overview {
  @include spacing-small-top;
  @include spacing-medium-bottom;

  &__items {
    @include container-large;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    @include small-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include medium-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__grid-item {
    @include card-filter-transition;
  }

  &__button {
    @include more-button;

    a {
      @include primary-button;
    }
  }
}
