.news-single {
  &__container {
    @include container-small;
  }

  &__thumbnail {
    @include header-image;
  }

  &__date {
    @include subtitle;
  }

  &__title {
    @include h2;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__category {
    @include category-tag;
  }

  &__content {
    @include spacing-medium;
  }
}
