.news-list {
  @include spacing-inner;

  &__container {
    @include container-large;
  }

  &__wrapper {
    @include two-column-grid;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__button {
    @include more-button;
    a {
      @include primary-button;
    }
  }
}
