.animation-on-scroll {
  opacity: 0;
  transform: translateY(10px) translateZ(0);
  transition: opacity 0.75s $transition, transform 0.75s $transition;
  will-change: transform, opacity;

  &.in-view {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }

  // Add staggered delay based on nth-child
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition-delay: #{$i * 0.05}s;
    }
  }
}

.word-wrapper {
  display: inline-flex;
  overflow: hidden;
  margin-right: 0.205em;
}

.word {
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(100%);
}

.word.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s $transition, transform 1.5s $transition;
}
