.main-content {
  & > *:not(.page-header),
  .person-card {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s $transition, transform 1s $transition;

    &.in-view {
      opacity: 1;
      transform: translateY(0);
      will-change: transform, opacity;
    }
  }
}
.word-wrapper {
  display: inline-flex;
  overflow: hidden;
  margin-right: 0.205em;
}

.word {
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(100%);
}

.word.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s $transition, transform 1.5s $transition;
}
