html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  will-change: background-color;
}

* {
  box-sizing: border-box;
  scroll-margin-top: $content-offset;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

::selection {
  color: $color-black;
  background: $color-yellow;
}

.no-scroll {
  overflow: hidden;
  height: 100svh;
}

.full-element-link {
  color: inherit;
  text-decoration: none;
  display: block;

  @include hover-scale;
}

* {
  accent-color: $color-yellow !important;
}
