html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  will-change: background-color;
}

* {
  box-sizing: border-box;
  scroll-margin-top: calc($content-offset + 3rem);
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

::selection {
  color: $color-black;
  background: $color-yellow;
}

.no-scroll {
  overflow: hidden !important;
}

.full-element-link {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;

  @include hover-scale;
}

* {
  accent-color: $color-yellow !important;
}

.editor-visual-editor {
  .wp-block-post-title {
    font-size: 2rem;
  }
}

.edit-post-sidebar,
.editor-sidebar,
.interface-interface-skeleton__sidebar,
.interface-complementary-area__fill,
.edit-post-layout__content {
  width: 460px !important;
}
