.add-hover-effect > * {
  @include medium-up {
    opacity: 1;
    transition: opacity 0.3s ease !important;
  }
}

.is-inactive {
  @include medium-up {
    @include transition(all);
    opacity: 0.4;
  }
}
