.prose,
.editor-visual-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
    margin-bottom: 1rem;

    // Reduce margin-top to 1rem when previous element is a heading
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 1rem;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }

  ul,
  ol {
    margin-bottom: 1.5rem;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    padding-left: 1rem;
    font-style: italic;
    margin: 1rem 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  video {
    @include spacing-medium;
    max-width: 100%;
    height: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;

    th,
    td {
      border: 1px solid $color-blue-light;
      padding: 0.75em;
    }

    th {
      text-align: left;
    }
  }

  pre {
    padding: 1rem;
    overflow-x: auto;
    border-radius: 5px;
  }
}

.prose {
  font-size: 1.125rem;

  // all elements inside the prose class
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > ul,
  > ol,
  > blockquote,
  > table,
  > pre,
  > a,
  > .wp-block-video {
    @include container;
  }

  > p {
    &:first-child {
      @include spacing-top;
    }

    &:last-child {
      @include spacing-bottom;
    }
  }

  > ul,
  > ol {
    padding-left: 2rem;

    @include medium-up {
      padding-left: 5rem;
    }
  }

  > a {
    @include underlined-link;
  }
  > .wp-block-video {
    @include medium-up {
      margin-left: -10vw;
      margin-right: -10vw;
    }
  }
}
