.prose,
.editor-visual-editor {
  h2 {
    @include h3;
  }

  h3 {
    @include h4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    padding-left: 1rem;
    font-style: italic;
    margin: 1rem 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  video {
    @include spacing-medium;
    max-width: 100%;
    height: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;

    th,
    td {
      border: 1px solid #ddd;
      padding: 0.75em;
    }

    th {
      background-color: #f4f4f4;
      font-weight: 600;
      text-align: left;
    }
  }

  pre {
    background-color: #f5f5f5;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 5px;
  }
}

.prose {
  @include medium-up {
    font-size: rem(18px);
  }

  a {
    @include underlined-link;
  }
  .wp-block-video {
    @include medium-up {
      margin-left: -10vw;
      margin-right: -10vw;
    }
  }
}
