.swiper-wrapper .swiper-slide:not(:first-child) {
  display: none;
}

.images-block__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.swiper-buttons {
  display: none;
}
