.furrer-power {
  position: relative;
  overflow: hidden;
  @include spacing-inner;

  &__container {
    @include container-extra-small;
  }
  &__title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    @include h1;
    color: $color-yellow;
    margin: 0;
    text-align: center;
    height: clamp(15rem, 80vw, 100rem);
    font-size: clamp(2rem, 7vw, 5rem);

    @include small-up {
      height: 80vw;
      font-size: clamp(3.4rem, 8vw, 8rem);
    }

    @include medium-up {
      height: unset;
      font-size: clamp(3.4rem, 5vw, 7rem);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__text {
    text-align: center;
    @include hero-text-small;
  }

  &__cta {
    a {
      @include primary-button;
    }
  }

  &__image {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: opacity 0.5s $transition, transform 0.5s $transition;

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    @include medium-up {
      max-height: 35%;
    }

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }

    &[data-position='1'] {
      top: 3rem;
      left: 0;
      width: 40%;
      aspect-ratio: 3/2;

      @include medium-up {
        width: 30%;
        top: 6rem;
      }
    }

    &[data-position='2'] {
      top: 0rem;
      right: 6vw;
      width: 30%;
      aspect-ratio: 4/5;

      @include medium-up {
        top: 8rem;
        width: 20%;
        right: 8vw;
      }
    }

    &[data-position='3'] {
      bottom: 40%;
      left: 4vw;
      width: 30%;
      aspect-ratio: 4/5;

      @include small-up {
        bottom: 35%;
      }
      @include medium-up {
        bottom: 6rem;
        left: 8vw;
        width: 20%;
      }
    }

    &[data-position='4'] {
      bottom: 45%;
      right: 0;
      width: 40%;
      aspect-ratio: 3/2;

      @include small-up {
        bottom: 30%;
      }

      @include medium-up {
        bottom: 8vw;
        right: 2rem;
        width: 30%;
      }
    }
  }
}
