.images-block {
  @include spacing;

  &:has(.swiper) {
    margin: 1.5rem 0;

    @include medium-up {
      margin: 3.5rem 0;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &__image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;

      @include small-up {
        aspect-ratio: 16 / 9;
      }
    }
  }

  .swiper {
    padding-bottom: 2.5rem;

    @include medium-up {
      padding-bottom: 2rem;
    }
  }

  .swiper-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    gap: 0.5rem;
  }
}


