.images-block {
  @include spacing-medium;

  @include medium-up() {
    margin-left: -10vw;
    margin-right: -10vw;
  }

  &:first-child {
    margin-top: 0;
  }

  &__image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;

      @include small-up {
        aspect-ratio: 3 / 2;
      }
    }
  }

  .swiper-buttons {
    margin: 1rem 0;
  }
}
