.images-block {
  @include spacing-medium;

  @include medium-up() {
    margin-left: -10vw;
    margin-right: -10vw;
  }

  &:first-child {
    margin-top: 0;
  }

  &__image {
    @include medium-up() {
      position: relative;
      aspect-ratio: 3 / 2;
    }

    img {
      @include medium-up() {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-buttons {
    margin: 1rem 0;
  }
}
