.job-list {
  @include spacing;

  &__title {
    margin-bottom: 2rem;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-top: 1px solid $color-grey;
    display: flex;

    &:last-child {
      border-bottom: 1px solid $color-grey;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-gold;
    font-size: 1.0625rem;
    padding: 0.75rem 0;
    width: 100%;

    @include medium-up {
      font-size: 1.25rem;
      padding: 1rem 0;
    }

    @include large-up {
      font-size: 1.5625rem;
      padding: 1.25rem 0;
    }

    img {
      width: 1.5rem;
      height: auto;
      @include transition(transform);

      @include medium-up {
        width: 1.75rem;
      }

      @include large-up {
        width: 2rem;
      }
    }

    &:hover {
      img {
        transform: rotate(-45deg);
      }
    }
  }

  &__icon {
    font-weight: bold;
    margin-left: auto;
  }
}
