.page-header {
  @include spacing-bottom;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    width: 100%;

    @include medium-up {
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      gap: 0;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;

    aspect-ratio: $aspect-ratio-portrait;
    object-fit: cover;
    object-position: center;

    max-height: 32rem;

    @include medium-up {
      grid-column: span 5;
      height: 100%;
      min-height: 38rem;
      max-height: unset;
    }
  }

  &__content {
    @include small-only {
      @include container;
    }

    @include medium-up {
      max-width: calc($container-large / 12 * 7);
      padding: 4rem 2rem 4rem 4rem;
      grid-column: span 7;
    }

    @include large-up {
      padding: 4rem 2rem 4rem 6rem;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include medium-up {
      margin-left: -16rem;
    }
    color: $color-yellow;
  }

  &__text {
    @include hero-text-small;
    @include text-max-width;

    p:last-child {
      margin-bottom: 3rem;
    }
  }

  &__link {
    @include underlined-link;
    @include underlined-link-mono;
  }
}
