.referenzen-by-service {
  @include spacing-inner;
  background-color: $color-yellow;

  &__container {
    @include container-large;
  }

  &__header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include medium-up {
      margin-bottom: 4rem;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__item {
    text-decoration: none;
    color: inherit;
  }

  &__image {
    margin-bottom: 0.5rem;
  }

  &__location {
    opacity: 0.5;
    @include text-small;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    @include medium-up {
      margin-top: 4rem;
    }

    a {
      @include secondary-button;
    }
  }
}
