.sub-service {
  margin-bottom: 6rem;

  &__icon {
    margin-bottom: 1.5rem;
  }

  &__icon-img {
    display: block;
    height: 3rem;
    max-width: 3.5rem;
    object-fit: contain;
    object-position: left bottom;
  }

  &__content {
    padding: 1rem 0;
    border-top: $border;
    border-bottom: $border;
  }
}
