.sub-service {
  margin-bottom: 5rem;

  &__icon {
    margin-bottom: 1.5rem;
  }

  &__icon-img {
    display: block;
    height: auto;
    max-width: 3.5rem;
    width: auto;
    max-height: 3rem;
    object-fit: contain;
    object-position: left bottom;

    @include medium-up {
      height: 3rem;
      max-width: 4rem;
      max-height: unset;
    }
  }

  &__content {
    padding: 1rem 0;
    border-top: $border;
    border-bottom: $border;
  }
}
