/**
 * Sub Service Block
 */

.sub-service {
  @include container-small;

  margin-bottom: 4rem;

  &__icon {
    margin-bottom: 1.5rem;
  }

  &__icon-img {
    display: block;
    height: 100%;
    max-height: 3rem;
    max-width: 4.5rem;
    width: 100%;
    object-fit: contain;
    object-position: left bottom;
  }

  &__content {
    padding: 1rem 0;
    border-top: $border;
    border-bottom: $border;
  }
}
