.service-card {
  background-color: $color-grey-light;
  padding: 2rem;
  height: 100%;

  @include medium-up {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icon {
    img {
      display: block;
      height: 3rem;
      max-width: 4rem;
      width: auto;
      object-fit: contain;
      object-position: left top;
      margin-bottom: 3rem;

      @include medium-up {
        height: 3.5rem;
        max-width: 4.75rem;
      }
    }
  }

  &__teaser {
    margin-bottom: 1.5rem !important;
  }

  &__link {
    @include underlined-link;
    @include underlined-link-mono;
  }
}
