.service {
  &__container {
    @include container-large;
  }

  &__wrapper {
    @include spacing;
  }

  &__content {
    @include two-column-grid(1fr, 1fr);
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__accordions {
    @include spacing;
    @include container;
    padding: 0 !important;

    h2 {
      text-align: center;
    }
  }

  &__products {
    @include spacing;

    h2 {
      text-align: center;
    }
  }
}
