.service {
  &__container {
    @include container-large;
  }

  &__wrapper {
    @include spacing-medium;
  }



  &__persons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__products {
    h2 {
      margin-bottom: 20px;
      color: var(--color-primary);
    }
  }

  &__products-content {
    &.prose {
      max-width: none;
    }
  }

  &__gallery {
    h2 {
      margin-bottom: 20px;
      color: var(--color-primary);
    }
  }
}
