.department {
  &__hero {
    width: 100%;
    padding: 0 1rem;

    @include medium-up {
      padding: 0 3rem;
    }
  }

  &__hero-container {
    @include header-image;
  }

  &__hero-content {
    @include container-large;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -2rem;

    h1 {
      color: $color-white;
      text-align: center;
      margin: 0;

      font-size: rem(32px);

      @include medium-up {
        font-size: rem(80px);
      }
    }
  }

  &__navigation {
    @include box;
    padding: 1.25rem 2.5rem;
    border-radius: 100rem;
    width: fit-content;
    transform: translateY(50%);

    ul {
      display: flex;
      gap: 2rem;
    }
  }

  &__container {
    @include container-large;
  }

  &__wrapper {
    @include spacing;
  }

  &__content {
    @include two-column-grid(50%, 50%);
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__address-content {
    @include box;
  }

  &__accordions {
    @include spacing;
    @include container;
    padding: 0 !important;

    h2 {
      text-align: center;
    }
  }

  &__news-events {
    @include spacing;
    @include container-large;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include medium-up {
      grid-template-columns: 1fr 1fr;
    }
  }
}
