.department {
  &__hero {
    width: 100%;
    padding: 0 1rem;

    @include medium-up {
      padding: 0 3rem;
    }
  }

  &__hero-container {
    @include header-image;
  }

  &__hero-content {
    @include container-large;
    position: relative;
    z-index: 1;

    h1 {
      color: $color-white;
      text-align: center;
      margin-bottom: 4rem;

      font-size: rem(32px);

      @include medium-up {
        font-size: rem(80px);
      }
    }
  }

  &__navigation {
    @include box;
    padding: 1.25rem 2.5rem;
    border-radius: 100rem;
    width: fit-content;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    position: sticky;
    top: 8rem;
    z-index: 100;
    margin: 0 auto;

    @include medium-up {
      padding: 1.25rem 2.5rem;
    }

    ul {
      display: flex;
      gap: $gutter-sm;

      li {
        &.active a {
          color: $color-green;
        }
      }

      a {
        text-decoration: none;
        font-weight: 600;
        transition: color 0.2s ease;

        &:hover {
          color: $color-green;
        }
      }
    }
  }

  &__container {
    @include container-large;
  }

  &__wrapper {
    @include spacing;
  }

  &__content {
    @include two-column-grid(1fr, 1fr);
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__address-content {
    @include box;
  }

  &__accordions {
    @include spacing;
    @include container;
    padding: 0 !important;

    h2 {
      text-align: center;
    }
  }

  .service-by__container {
    padding: 0 !important;
  }

  &__news-events {
    @include spacing;
    @include two-column-grid(1fr, 1fr);
  }
}
