.single-referenz {
  height: 100svh;
  overflow: hidden;

  main {
    height: 100svh;
  }

  .referenzen-single {
    position: fixed;
    width: 100%;
    height: 100svh;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1rem 0rem;

    @include medium-up {
      padding: 1rem 4rem;
    }

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      z-index: -1;
    }

    &__back {
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.5rem;

      @include medium-up {
        padding: 0;
      }
    }

    .swiper-buttons {
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      padding-right: 2rem;
    }

    .swiper-pagination-numbers {
      min-width: 4rem;
      display: flex;
      justify-content: center;
      gap: 0.25rem;
    }

    &__wrapper {
      max-width: none !important;
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 2rem;

      @include medium-up {
        gap: 1rem;
      }
    }

    &__content {
      padding: 0 1.5rem;

      @include medium-up {
        padding: 0;
      }
      p {
        margin: 0;
        font-size: 0.9375rem;
        color: $color-white;
      }
    }

    .swiper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        img {
          height: 100%;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}
